<div>
    <div class="wrapper wrapper--w820">
        <div class="card card-1">

            <div class="card-body">
                <form class="wizard-container" method="POST" th:object="${subCategoria}" th:action="@{/productos/saveSubCategoria}" id="js-wizard-form">

                    <ul class="tab-list">
                        <li class="tab-list__item">
                            <a class="tab-list__link" href="#tab1" data-toggle="tab"> 
                                <span class="step">1</span>
                                <span class="desc">Categoria</span>
                            </a>
                        </li>

                        <li class="tab-list__item active">
                            <a class="tab-list__link" href="#tab2" data-toggle="tab"> 
                                <span class="step">2</span>
                                <span class="desc">Subcategoria</span>
                            </a>
                        </li>

                        <li class="tab-list__item">
                            <a class="tab-list__link" href="#tab3" data-toggle="tab"> 
                                <span class="step">3</span>
                                <span class="desc">Producto</span>
                            </a>
                        </li>

                        <li class="tab-list__item">
                            <a class="tab-list__link" href="#tab4" data-toggle="tab"> 
                                <span class="step">4</span>
                                <span class="desc">Atributo</span>
                            </a>
                        </li>
                        
                    </ul>

                    <!--  Segundo tab -->
							<div class="tab-content">
								<div class="tab-pane active" id="tab2">
									<div class="form" >
                                        <div>
                                            <div class="d-flex justify-content-center mb-4 lead" >
                                                Seleccione Subcategoria o Escriba una nueva
                                            </div>
                                            <div class="input-group">
                                                <input th:field="*{categoria.id}" th:attr="name='subCategoria.categoria.id'" style="display: none">
                                                <div>
                                                    <select class="selectpicker input--style-1"style="height: 52px;padding-right: 100px;" data-width="auto" th:field="*{id}" 
                                                        name="Subcategoria" placeholder="Seleccione Subcategoria"  required="required">	
            
                                                        <option  th:if="${nuevo!=0}" th:each="s : ${subCategorias}"  th:value="${(s.id)}" th:text="${s.subCategoria}"></option>
                                                        <option  th:if="${nuevo==0}" th:value="${(nuevo)}">No se encontraron</option>

                                                    </select>
                                                </div>
            
                                                <div>
                                                    <input th:field="*{subCategoria}" class="input--style-1" type="text" style="padding-right: 50px;" name="Subcategoria" placeholder="Nueva subcategoria">
                                                    
                                                </div>
            
                                                <div >
                                                    <span class="btn--next">
                                                        <input type="submit" name="action" value="Agregar" />
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
										<!-- <div class="input-group">
											<input th:field="*{subCategoria}" class="input--style-1" type="text" name="SubCategoria"
												placeholder=Subcategoria  required="required">

                                            <input th:field="*{categoria.id}" th:attr="name='subCategoria.categoria.id'" style="display: none">
                                            
											<span class="btn--next">
												<input  type="submit" value="Agregar">
                                            </span>
                                            
										</div> -->
										
									</div>
								</div>	
							</div>

                </form>

            </div>
        </div>
    </div>
</div>