<!DOCTYPE html>
<html lang="en">


<!-- con esto no tira advertencias de th: -->
<th:block xmlns:th="http://www.thymeleaf.org">

	<head>
<!-- Required meta tags-->
<meta charset="utf-8">
<title>wizard-v7</title>
<!-- Mobile Specific Metas -->
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<!-- Bootstrap core CSS -->
<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Title Page-->
<title>Au Form Wizard</title>

<!-- Icons font CSS-->
<link href="/vendor/mdi-font/css/material-design-iconic-font.min.css"
	rel="stylesheet" media="all">
<link href="/vendor/font-awesome-4.7/css/font-awesome.min.css"
	rel="stylesheet" media="all">
<!-- Font special for pages-->
<link
	href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
	rel="stylesheet">



<!-- Main CSS-->
<link href="/css/crud-form.css" rel="stylesheet" media="all">
	</head>

	<body>

		<!-- Navigation  user o admin segun corresponda-->
		<nav th:if="${admin==true}"
			class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
			th:include="nav_admin :: div"></nav>

		<nav th:if="${admin==false}"
			class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
			th:include="nav_user :: div"></nav>


		<div class="page-wrapper bg-img-1 p-t-275 p-b-100">
			<div class="wrapper wrapper--w820">
				<div class="card card-1">

					<div class="card-body">
						<form class="wizard-container" method="POST"
							th:object="${subCategoria}" th:action="@{/productos/saveSubCategoria}"
							id="js-wizard-form">
							<ul class="tab-list">
								<li class="tab-list__item "><a class="tab-list__link"
									href="#tab1" data-toggle="tab"> <span class="step">1</span>
										<span class="desc">Categoria</span>
								</a></li>
								<li class="tab-list__item active"><a class="tab-list__link"
									href="#tab2" data-toggle="tab"> <span class="step">2</span>
										<span class="desc">Subcategoria</span>
								</a></li>
								<li class="tab-list__item"><a class="tab-list__link"
									href="#tab3" data-toggle="tab"> <span class="step">3</span>
										<span class="desc">Producto</span>
								</a></li>
								<li class="tab-list__item"><a class="tab-list__link"
									href="#tab4" data-toggle="tab"> <span class="step">4</span>
										<span class="desc">Atributo</span>
								</a></li>
							</ul>


							<!--  Segundo tab -->
							<div class="tab-content">
							<div class="tab-pane active" id="tab2">
								<div class="form">
									<div class="input-group">
										<input class="input--style-1" type="text" name="subCategoria"
											 placeholder=subCategoria th:field="*{subCategoria}"
											required="required"> <a class="btn--next" href="">Agregar</a>
										<input class="btn" type="submit" value="Submit">
									<input type="hidden" th:value="${subCategoria.categoria.id}" th:attr="name='c_id'" />
									</div>
									
									<!-- 				
									th:field="*{__${myVar}__}"
												<div class="input-group">
										  <input class="input--style-1" type="text" name="username" placeholder="Username here" required="required">
										<select placeholder="subCategoria"
											th:field="*{subCategoria.id}">
											<option th:each="subCategoria : ${subCategorias}"
												th:value="${subCategoria.id}"
												th:text="${subCategoria.subCategoria}"></option>
										</select> <a class="btn--next" th:href="@{productos/saveSubCategoria}">Elegir</a>
					 -->

								</div>
							</div>	
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
		<!-- Footer -->
		<footer class="py-5 bg-dark">
			<div class="container">
				<p class="m-0 text-center text-white">Copyright &copy; Your
					Website 2020</p>
			</div>
			<!-- /.container -->
		</footer>
		<!-- Jquery JS-->
		<script src="/vendor/jquery/jquery.min.js"></script>
		<!-- Vendor JS-->
		<script src="/vendor/jquery-validate/jquery.validate.min.js"></script>
		<script src="/vendor/bootstrap-wizard/bootstrap.min.js"></script>
		<script src="/vendor/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>


		<!-- Main JS-->
		<script src="/js/global.js"></script>

	</body>
</html>
<!-- end document-->