spring:
    datasource:
        url: jdbc:mysql://localhost:3306/el_deporte_online?serverTimezone=UTC
        username: root
        password: root
        driver-class-name: com.mysql.cj.jdbc.Driver
        initialization-mode: always
    jpa:  
        show-sql: true
        generate-ddl: true
        hibernate:
            ddl-auto: update
        properties:
            dialect: org.hibernate.dialect.MySQL5Dialect
            hibernate:
                format_sql: true

    mail:
        host: smtp.gmail.com
        port: 587
        username: "el.deporte.online.g6@gmail.com" #email para enviar 
        password: "evfvxwpnheujtcqh" #contraseña de aplicación / del correo unlagrupo6
        properties:
            mail:
                smtp:
                
                    starttls:
                        enable: true
                        required: true
                    auth: true
                    connectiontimeout: 5000
                    timeout: 5000
                    writetimeout: 5000
    servlet:
        multipart:
            max-file-size: 10MB    
            max-request-size: 10MB    

            
        