<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="AuThemes Templates">
    <meta name="author" content="AuCreative">
    <meta name="keywords" content="AuThemes Templates">

    <!-- Title Page-->
    <title>Au Form Wizard</title>
    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Title Page-->
    <title></title>

    <!-- Icons font CSS-->
    <link href="/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link
        href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <!-- Main CSS-->
    <!-- Icons font CSS-->
    <link href="/colorlib-wizard-29/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="/colorlib-wizard-29/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="/colorlib-wizard-29/https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@1,600&display=swap" rel="stylesheet">

    <!-- Main CSS-->
    <link href="/colorlib-wizard-29/css/main.css" rel="stylesheet" media="all">
</head>

<body>
    <!-- Navigation  user o admin segun corresponda-->
	<nav th:if="${admin==true}"
    class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
    th:include="nav_admin :: div"></nav>

    <nav th:if="${admin==false}"
        class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
        th:include="nav_user :: div"></nav>

    <div class="page-wrapper bg-img-1 p-t-275 p-b-100" >
        <div>
            <div class="wrapper wrapper--w820">
                <div class="card card-1">
        
                    <div class="card-body">
                        <form class="wizard-container" method="POST" th:object="${producto}" th:action="@{/productos/saveEdit}" id="js-wizard-form">
        
                            <ul class="tab-list">
                                <li class="tab-list__item active">
                                    <a class="tab-list__link" href="#tab1" data-toggle="tab"> 
                                        <span class="step">1</span>
                                        <span class="desc">Categoria</span>
                                    </a>
                                </li>
        
                                <li class="tab-list__item">
                                    <a class="tab-list__link" href="#tab2" data-toggle="tab"> 
                                        <span class="step">2</span>
                                        <span class="desc">Subcategoria</span>
                                    </a>
                                </li>
        
                                <li class="tab-list__item">
                                    <a class="tab-list__link" href="#tab3" data-toggle="tab"> 
                                        <span class="step">3</span>
                                        <span class="desc">Producto</span>
                                    </a>
                                </li>
        
                                <li class="tab-list__item">
                                    <a class="tab-list__link" href="#tab4" data-toggle="tab"> 
                                        <span class="step">4</span>
                                        <span class="desc">Atributo</span>
                                    </a>
                                </li>
                                
                            </ul>
        
                            <div class="tab-content">

                                <!-- Step 1 Categoria-->
                                <div class="tab-pane active" id="tab1">
                                    
                                    <div class="form" >
                                        <div class="d-flex justify-content-center mb-4 lead" >
                                            Seleccione categoria o Edite la existente
                                        </div>
                                        <div class="input-group">
                                            <div>
                                                <select class="selectpicker input--style-1"style="height: 52px;padding-right: 100px;" data-width="auto" th:field="*{subCategoria.categoria.id}" 
                                                    name="Categoria" placeholder="Seleccione Categoria"  required="required">	
        
                                                    <option th:each="c : ${categorias}"  th:value="${(c.id)}" th:text="${c.categoria}"></option>
        
                                                </select>
                                            </div>
        
                                            <div>
                                                <input th:field="*{subCategoria.categoria.categoria}" class="input--style-1" type="text" style="padding-right: 50px;" name="Categoria" placeholder="Nueva categoria">
        
                                            </div>
        
                                            <div >
                                                <a class="btn--next" href="#">Siguiente</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>	
                                <!-- Step 2 Subcategoria-->
                                <div class="tab-pane" id="tab2">
									<div class="form" >
                                        <div>
                                            <div class="d-flex justify-content-center mb-4 lead" >
                                                Seleccione Subcategoria o Edite la existente
                                            </div>
                                            <div class="input-group">
                                                <div>
                                                    <select class="selectpicker input--style-1"style="height: 52px;padding-right: 100px;" data-width="auto" th:field="*{subCategoria.id}" 
                                                        name="Subcategoria" placeholder="Seleccione Subcategoria"  required="required">	
            
                                                        <option  th:if="${nuevo!=0}" th:each="s : ${producto.subCategoria.categoria.subcategoria}"  th:value="${(s.id)}" th:text="${s.subCategoria}"></option>
                                                        <option  th:if="${nuevo==0}" th:value="${(nuevo)}">No se encontraron</option>

                                                    </select>
                                                </div>
            
                                                <div>
                                                    <input th:field="*{subCategoria.subCategoria}" class="input--style-1" type="text" style="padding-right: 50px;" name="Subcategoria" placeholder="Nueva subcategoria">
                                                    <input th:field="*{id}" th:attr="name='producto.id'" style="display: none">

                                                </div>
            
                                                <div >
                                                    <a class="btn--next" href="#">Siguiente</a>
                                                </div>
                                            </div>
                                        </div>
										
									</div>
                                </div>	

                                <!-- Step 3 Producto -->
                                <div class="tab-pane" id="tab3">
                                    <div class="form">
                                        <div class="input-group">
                                            <div class="container">
                                                <div class="row">

                                                    <div class="col">
                                                        <input th:field="*{descripcionCorta}" class="input--style-1 p-1" type="text" name="descripcionCorta" placeholder="Producto"  required="required">
                                                    </div>
                
                                                    <div class="col">
                                                        <input th:field="*{descripcionLarga}" class="input--style-1 p-1" type="text" name="descripcionLarga" placeholder="Descripcion"  required="required">
                                                    </div>
                                                </div>
                                                <div class="row mt-4">

                                                    <div class="col">
                                                        <input th:field="*{precio}" class="input--style-1 p-1" type="number" name="precio" placeholder="Precio"  required="required">
                                                    </div>
                                                    
                                                    <div class="col d-flex align-items-center">
                                                        <label class="custom-control-label" for="defaultChecked2">Destacar</label>
                                                        <input class="check"th:field="*{destacado}" type="checkbox" checked>
                                                    </div>
                                                    <div class="col-sm d-flex align-items-center">
                                          	 			<label class="custom-control-label" for="defaultChecked2">Visible en Catalogo</label>
                                            			<input class="check"th:field="*{visible}" type="checkbox" checked>
                                        			</div>
                                        
                                        			<div class="col-sm d-flex align-items-center">
                                            			<label class="custom-control-label" for="defaultChecked2">En Promocion</label>
                                            			<input class="check"th:field="*{promocion}" type="checkbox" checked>
                                        			</div>
                                                </div>

                                                <div class="row mt-4">
                                                    <div class="col tab-list__link">
                                                        <a class="btn--next" href="#">Siguiente</a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                
                                <!--  Step 4 Atributos -->
                                <div class="tab-pane" id="tab4">
                                    <div class="form">
                                        <div class="input-group">
                                            <div class="container">

                                                
                                                <div class="row mt-4">
                                                    <input class="btn--next" type="submit" value="Finalizar">
                                                </div>
                
                                            </div>
                                        </div>

                                    </div>
                                </div>


                            </div>
        
                        </form>
        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
	<footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">El Deporte On-Line &copy; 2020</p>
        </div>
    <!-- /.container -->
    </footer>

    <!-- Jquery JS-->
    <script src="/colorlib-wizard-29/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="/colorlib-wizard-29/vendor/jquery-validate/jquery.validate.min.js"></script>
    <script src="/colorlib-wizard-29/vendor/bootstrap-wizard/bootstrap.min.js"></script>
    <script src="/colorlib-wizard-29/vendor/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>


    <!-- Main JS-->
    <script src="/colorlib-wizard-29/js/global.js"></script>

</body>

</html>
<!-- end document-->