<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Administracion</title>
<!-- Bootstrap core CSS -->

<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/nuevo.css" rel="stylesheet" />

</head>
<body>

	<div class="login">
		<h1>Login</h1>

		<form th:action="@{/loginprocess}" method="post">
			<input type="text" name="username" id="username"
				placeholder="Username" required="required" /> <input
				type="password" name="password" id="password" placeholder="Password"
				required="required" />
			<button type="submit" class="btn btn-primary btn-block btn-large">Log
				In.</button>
		</form>
		<div th:if="${error != null}" class="alert alert-danger"
			style="text-align: center">Usuario o contraseña invalido.</div>

	</div>
</body>
<div>

	<footer class="footer" style="text-align: center; margin-top: 44%;">
		<a target="blank"
			href="https://github.com/matiasarebalo/Grupo_6_PS"
			style="color: #67a8dc">Grupo_6</a>
		<h6 style="color: #FFFFFF">Integrantes: Elian Gonzalez, Matias
			Arebalo, Fernando, Nicolas Romero Ortiz.</h6>
	</footer>

</div>

</html>

