<!DOCTYPE html><!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>UNLa</title>
<!-- Bootstrap core CSS -->

<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/nuevo.css" rel="stylesheet" />

</head>
<body>


	<div class="login">
		<h4 class="display-5 alert alert-primary text-center">Logout
			Successfully.</h4>
		<h1>Login</h1>

		<form th:action="@{/loginprocess}" method="post">
			<input type="text" name="username" id="username"
				placeholder="Username" required="required" /> <input
				type="password" name="password" id="password" placeholder="Password"
				required="required" />
			<button type="submit" class="btn btn-primary btn-block btn-large">Log
				In.</button>
		</form>
		<div th:if="${error != null}" class="alert alert-danger"
			style="text-align: center">Usuario o contraseña invalido.</div>

	</div>
</body>

<div>

	<footer class="footer" style="text-align: center; margin-top: 44%;">
		<a target="blank"
			href=""
			style="color: #67a8dc">Grupo_6</a>
		<h6 style="color: #FFFFFF">Integrantes: </h6>
	</footer>

</div>

</html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>Ingreso</title>
<meta content="" name="descriptison">
<meta content="" name="keywords">


<!-- Google Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
	rel="stylesheet">

<!-- Vendor CSS Files -->

<!-- Template Main CSS File -->

<!-- =======================================================
  * Template Name: iPortfolio - v1.2.1
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

	<!-- ======= Mobile nav toggle button ======= -->
	<button type="button" class="mobile-nav-toggle d-xl-none">
		<i class="icofont-navigation-menu"></i>
	</button>

	<!-- ======= Header ======= -->
	<header id="header">
		<div class="d-flex flex-column">

			</nav>
			<!-- .nav-menu -->
			<button type="button" class="mobile-nav-toggle d-xl-none">
				<i class="icofont-navigation-menu"></i>
			</button>

		</div>
	</header>
	<!-- End Header -->

	
	<!-- End Hero -->

	<main id="main">

		      	<h1 class="display-5 alert alert-info">Logout Successfully.</h1>

		<!-- ======= Login Section ======= -->
		<section id="contact" class="contact">
			<div class="container">

				<div class="section-title">
					<h2>Ingreso</h2>
				</div>

		
				<div class="row" data-aos="fade-in">
					<div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
						<form th:action="@{/loginprocess}" method="post" role="form"
							class="php-email-form2" name="formIngreso" id="formIngreso">
							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="name">Usuario</label> <input type="text"
										name="username" class="form-control" id="username"
										data-rule="minlen:4" data-msg="Ingrese al menos 4 characteres" />

									<div class="validate"></div>
								</div>
								<div class="form-group col-md-6">
									<label for="name">Password</label> <input type="password"
										name="password" class="form-control" id="password" />

									<div class="validate"></div>
								</div>
							</div>
							<div class="text-left">
								<button type="submit">Ingresar</button>
							</div>
						</form>

						<div th:if="${error != null}" class="alert alert-danger">
							Invalid username or password.</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Login Section -->

	</main>
	<!-- End #main -->

	<!-- ======= Footer ======= -->

	<!-- End  Footer -->

	<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

	<!-- Vendor JS Files -->

	<!-- Template Main JS File -->
	<script src="js/main.js"></script>
</body>

</html>
