<!DOCTYPE html>
<html lang="en">

<!-- con esto no tira advertencias de th: -->
<th:block xmlns:th="http://www.thymeleaf.org">
	

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>El deporte On-line</title>

<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="css/shop-homepage.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@1,600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">


</head>

<body>
	<!-- Navigation  user o admin segun corresponda-->
			<nav th:if="${admin==true}" class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #023E8A;"
				 th:include="nav_admin :: div"></nav>
			
			<nav th:if="${admin==false}" class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #023E8A;"
				 th:include="nav_user :: div"></nav>
    
			<nav class="navbar navbar-expand-md navbar-dark" style="background-color: #0077B6;">

				<div class="text-light " style="margin: 0px 120px;"> Categorias</div>

				<ul class="navbar-nav ">

					<li th:each="categoria : ${categorias}" class="nav-item mr-4 text-capitalize">
						<a class="nav-link" th:text=${categoria.categoria} th:href="@{|/productos/categoria/?id=${categoria.id}|}"></a>
					</li>
				</ul>
			</nav>
					
	<!-- Page Content -->
	<div class="container">

		<a th:if="${message}" id="alert-target"></a>

		<div class="row">

			<div>
				
				<div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#carouselExampleIndicators" data-slide-to="0"
							class="active"></li>
						<li th:each = "prod : ${productosPromocion}" data-target="#carouselExampleIndicators" data-slide-to="0"
							class=""></li>
					</ol>
					<div class="carousel-inner" role="listbox">

						<div class="carousel-item active">
							<img class="d-block w-100" src="/img/skate.jpg" >
						</div>

						<div th:each = "prod : ${productosPromocion}" class="carousel-item">
							<a th:href="@{/productos/articulo/{id}(id=${prod.id})}">
							<img class="d-block img-fluid" th:src="${prod.urlImagen}" alt="">
							</a>
						</div>
						
					</div>

					<a class="carousel-control-prev" href="#carouselExampleIndicators"
						role="button" data-slide="prev"> <span
						class="carousel-control-prev-icon" aria-hidden="true"></span> <span
						class="sr-only">Previous</span>
					</a> 
					<a class="carousel-control-next" href="#carouselExampleIndicators"
						role="button" data-slide="next"> <span
						class="carousel-control-next-icon" aria-hidden="true"></span> <span
						class="sr-only">Next</span>
					</a>
				</div>
			

				<div class="row">
					
					<div th:each="producto : ${productos}" class="col-lg-4 col-md-6 mb-4">
						<div class="card h-100">
							<a th:href="@{/productos/articulo/{id}(id=${producto.id})}">
								<img th:src="${producto.urlImagen}" class="card-img-top" alt=""></a>
							<div class="card-body">
								<h4 class="card-title">
									<a th:text="${producto.descripcionCorta}" href="#"></a>
								</h4>
								<h5 th:text=" 'SKU: ' + ${producto.sku}"></h5>
								<div class="mr-3">
									<span class="mr-3" th:text="'$' + ${producto.precio}"></span>
									<span class="ml-5 text-danger" style="text-decoration: line-through;" th:if="${producto.descuento != 0}"th:text="'$' + ${producto.precioTachado}"></span>
								  </div>
								<p th:text="${producto.descripcionLarga}" class="card-text"></p>
							</div>
							<div class="card-footer">
								<small class="text-muted">&#9733; &#9733; &#9733;
									&#9733; &#9734;</small>
							</div>
						</div>
					</div>
					
				</div>
				<!-- /.row -->

			</div>
			<!-- /.col-lg-9 -->

		</div>
		<!-- /.row -->

	</div>
	<!-- /.container -->

	<!-- Footer -->
	<footer class="py-5" style="background-color: #023E8A;">
    <div class="container">
      <p class="m-0 text-center text-white">El Deporte On-Line &copy; 2020</p>
    </div>
    <!-- /.container -->
  </footer>

	<!-- Bootstrap core JavaScript -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
	
	<script language="JavaScript" type="text/javascript">
		$(document).ready(function(){
		  $('.carousel').carousel({
			interval: 2000
		  })
		});    

		$("#alert-target").show(function () {
			toastr.success("La compra se ha realizado correctamente")
		});    

	  </script>




</body>
</th:block>
</html>


