<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Small Business - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/small-business.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/main-comments.css">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/star-rating.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation  user o admin segun corresponda-->
  <nav th:if="${admin==true}" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
  th:include="nav_admin :: div"></nav>

  <nav th:if="${admin==false}" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
    th:include="nav_user :: div"></nav>

  <!-- Page Content -->
  <div class="container">

    <a th:if="${message}" id="alert-target"></a>

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
      <div class="col-lg-7">
        <img th:src="${producto.urlImagen}" class="img-fluid rounded mb-4 mb-lg-0" >
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-5">

        <h1 class="font-weight-light text-uppercase" th:text="${producto.descripcionCorta}"></h1>

        <p th:text="${producto.descripcionLarga}"></p>
        <p th:text=" 'SKU: ' + ${producto.sku}"></p>
        
        <div class="mr-3" th:text="'$' + ${producto.precio}"></div>

        <table>
          <tr>
            <td>
              <input id="input-3" name="input-3" th:value="${estrellas}" class="rating-loading">
            </td>
          </tr>
        </table>

        <a class="btn btn-primary" th:href="@{/productos/articulo/{id}/compra(id=${producto.id})}">Comprar Ahora</a>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Call to Action Well -->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
      <div class="card-body">
        <h3 class="text-white m-0">Otros articulos que pueden interesarte</h3>
      </div>
    </div>
	
    <div class="row">
      <div th:each="producto : ${relacionados}" class="col-lg-4 col-md-6 mb-4">

        <div class="card h-100">

          <a th:href="@{/productos/articulo/{id}(id=${producto.id})}">
            <img th:src="${producto.urlImagen}" class="card-img-top" alt="">
          </a>

            <div class="card-body">
                  <h4 class="card-title">
                    <a th:text="${producto.descripcionCorta}" href="#"></a>
                  </h4>
                <h5 th:text=" 'SKU: ' + ${producto.sku}"></h5>
                <h5 th:text="'$' + ${producto.precio}"></h5>
                  <p th:text="${producto.descripcionLarga}" class="card-text"></p>
            </div>
            
            <div class="card-footer">
              <small class="text-muted">&#9733; &#9733; &#9733;
                &#9733; &#9734;</small>
            </div>

        </div>
      </div>
    </div>
    <!-- /.row -->

    <!-- Start Reviews -->

    <div class="bg-white rounded shadow-sm p-4 mb-4 restaurant-detailed-ratings-and-reviews">
      <a href="#" class="btn btn-outline-primary btn-sm float-right">Top Comentarios</a>
      <h5 class="mb-1">Todos los comentarios</h5>

     <!-- Review -->
      <div th:each="c : ${comentarios}" class="reviews-members pt-4 pb-4">
        <div class="media">
          <div class="media-body">
            <div class="reviews-members-header">
              <span class="star-rating float-right">
                <a href="#"><i class="icofont-ui-rating active"></i></a>
                <a href="#"><i class="icofont-ui-rating active"></i></a>
                <a href="#"><i class="icofont-ui-rating active"></i></a>
                <a href="#"><i class="icofont-ui-rating active"></i></a>
                <a href="#"><i class="icofont-ui-rating"></i></a>
                </span>
              <h6 class="mb-1" ><a class="text-black" th:text="${c.fechaComentario}"></a></h6>
            </div>
            <div class="reviews-members-body">
              <p th:text="${c.comentario}"></p>
            </div>
          </div>
        </div>
        <hr>
      </div>
     <!-- /.Review -->
      <a class="text-center w-100 d-block mt-4 font-weight-bold" href="#">Ver todos los comentarios</a>
    </div>
    
    <!-- Comentario form -->
    

      <form class="wizard-container" method="POST" th:object="${comentario}" th:action="@{/productos/newComentario/{id}(id=${producto.id})}">

        <div class="bg-white rounded shadow-sm p-4 mb-5 rating-review-select-page">
          <h5 class="mb-4">Deja un comentario</h5>
          <p class="mb-2">Rate the Place</p>
          <div class="mb-4">

            <div id="star-rating form-group">
              <input class="rating form-control" th:field="*{valoracion}" />
            </div>
            
          </div>
          
        <div class="form-group">
          <label>Tu comentario</label>
          <textarea class="form-control"  th:field="*{comentario}"></textarea>
        </div>
        
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          Enviar
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ingrese el Codigo de su Pedido</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form class="form-inline">
                  <div class="form-group">
                    <label >Codigo</label>
                    <input type="number" th:field="*{pedido.id}" class="form-control m" >
                    <small id="passwordHelpInline" class="text-muted">
                      Must be 8-20 characters long.
                    </small>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Enviar</button>
              </div>
            </div>
          </div>
        </div>

      </form>
      
    </div>
    <!-- /.Comentario form-->



  </div>
  
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your
        Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
  <script type="text/javascript" src="/js/star-rating.js"></script>
  <script src="/themes/krajee-fa/theme.js" type="text/javascript"></script>
  <script src="/themes/krajee-svg/theme.js" type="text/javascript"></script>
  <script src="/themes/krajee-uni/theme.js" type="text/javascript"></script>

  <script>

    $(function(){                
      $('#star-rating').rating(); 
      $('#input-3').rating({displayOnly: true, step: 0.5});

        });

		$("#alert-target").show(function () {
      toastr.error("Codigo de Pedido erroneo")
      });    

  </script>
  
</body>

</html>
